@import '../../styles/_variables';
@import '../../styles/_mixin';

.layout__list {
  .inner__body {
    padding: 50px 24px 60px;

    @media screen and (max-width: $G-window-size-tablet) {
      padding: 40px 24px;
    }
    .RollingList {
      display: flex;
      flex-direction: column;
      align-items: center;

      & button {
        margin: 0 auto;
        width: 280px;
        @media screen and (max-width: $G-window-size-tablet) {
          width: 100%;
        }
      }
    }
  }
  .button-box {
    width: 100%;
  }
}
