.RecentPapers {
  width: 100%;
  height: 324px;
  margin-bottom: 48px;
  &--title {
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.24px;
  }
  &--papers {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    position: relative;
  }
}
