@import '../../styles/_variables';
@import '../../styles/_mixin';

.layout__message {
  .inner__body {
    padding: 47px 24px 60px;

    @media screen and (max-width:$G-window-size-mobile) {
      padding: 40px 24px;
    }
  }

  .send-form {
    &__content {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-top: 50px;

      > span {
        font-weight: 700;
        font-size: $G-font-size-24;
        line-height: 1.5;
        letter-spacing: -1%;
      }
    }

    &__btn {
      width: 100%;
      margin-top: 62px;
    }
  }
}