@import './_variables'; // 변수
@import './_mixin'; // mixin
@import './fonts.scss';

// family
$font-family: 'Pretendard', sans-serif;;

body {
  min-height: 100vh;
  padding-top: 65px;
  font-size: $G-font-size-16;
  font-family: $font-family;
}

.inner {
  &__body {
    min-height: calc(100vh - 64px);
  }

  &__size-full {
    @include layoutInnerSize(1248px);
    padding: 0 24px;

    @media screen and (max-width:$G-window-size-tablet) {
      @include layoutInnerSize(100%);
    }
  }

  &__size-ls {
    @include layoutInnerSize(1248px);
    padding: 0 24px;
  }

  &__size-ms {
    @include layoutInnerSize(768px);
    padding: 0 24px;
  }
}