@import '../../styles/_variables';
@import '../../styles/_mixin';

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $G-z-index-modal;
  background-color: rgba(0, 0, 0, 0.5); /* 어두운 배경 */
  @include flexStyle(center, center);

  &__button-container {
    @include flexStyle(center, center);
    margin-top: auto;

    @media screen and (max-width: $G-window-size-mobile) {
      margin-top: 15px;
    }

    .button--fill-primary {
      width: 120px;
    }
  }

  &__content {
    @include flexStyle(unset, space-between);
    flex-direction: column;
    background-color: white;
    width: 600px;
    height: 476px;
    padding: 40px;
    border-radius: 16px;

    @media screen and (max-width: $G-window-size-mobile) {
      width: 320px;
      height: 356px;
      padding: 20px;
    }
    &__header {
      @include flexStyle(center, space-between);

      &__profile {
        @include flexStyle();
        flex-direction: row;
        gap: 16px;

        @media screen and (max-width: $G-window-size-mobile) {
          gap: 8px;
        }

        &__name > p {
          font-size: $G-font-size-20;

          @media screen and (max-width: $G-window-size-mobile) {
            font-size: $G-font-size-16;
          }
        }
      }

      &__message-created > p {
        font-size: $G-font-size-14;
        padding-right: 5px;
      }
    }
    &__body {
      font-size: $G-font-size-18;
      padding: 16px 16px 0 0;
      border-top: 1px solid #eee;
      margin: 19px 0 24px 0;
      line-height: 28px;
      text-align: left;
      width: 520px;
      height: 256px;
      overflow: auto;

      @media screen and (max-width: $G-window-size-mobile) {
        padding-top: 5px;
        padding-right: 8px;
        border-top: 1px solid #eee;
        margin: 10px 0 5px 0;
        line-height: 24px;
        width: 290px;
        height: 150px;
      }
    }
  }
}

.content--short {
  * {
    margin: auto;
    padding: auto;
    border: unset;
    font-size: unset;
    font-weight: unset;
    color: unset;
    box-sizing: unset;
    vertical-align: unset;
    line-height: 1.3;
  }

  strong,
  b {
    font-weight: bold;
  }

  ul {
    margin-top: 16px;
    padding-left: 40px;
    list-style: disc;
  }

  ol {
    margin-top: 16px;
    padding-left: 40px;
    list-style: decimal;
  }

  a {
    text-decoration: underline;
    color: blue;
  }

  em,
  i {
    font-style: italic;
  }
}
