@import "../../../styles/_variables";
@import "../../../styles/_mixin";

.header {
  &__wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: 65px;
    border-bottom: 1px solid #ededed;
    background-color: $G-white;
  }

  &__inner {
    &.inner__size-ls {
      padding: 12px 24px;
    }
  }

  &__image__logo {
    height: 40px;
  }
}

.button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  &:hover {
    cursor: pointer;
  }
}
