.error {
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 67px);
    flex-direction: column;
    .title {
      font-size: 50px;
    }
    .button--fill-primary {
      margin-top: 50px;
    }
  }
}